:root {
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;

  --primary: 222 89% 55%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96%;
  --secondary-foreground: 222 47% 11%;

  --accent: 210 40% 96%;
  --accent-foreground: 222 47% 11%;
}

.dark {
  --background: 222 47% 11%;
  --foreground: 210 40% 98%;

  --primary: 217 91% 60%;
  --primary-foreground: 222 47% 11%;

  --secondary: 217 33% 17%;
  --secondary-foreground: 210 40% 98%;

  --accent: 217 33% 17%;
  --accent-foreground: 210 40% 98%;
}